logs/
swanlog/
wandb/
*out
*.log
*.err
.cache
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.egg-info/
*debug/

.DS_Store

*.ipynb
.vscode

# Image data
dataset/**/image/
dataset/**/image*
dataset/**/images/
dataset/**/images*
dataset/**/*.jpg
dataset/**/*.png
dataset/**/*.jpeg


# Video data
dataset/**/video/
dataset/**/videos/
dataset/**/video*
dataset/**/videos*
dataset/**/*.mp4
dataset/**/*.avi
dataset/**/*.mov
